set timeout=5
set default=0

menuentry "Ramlix - Boot to RAM" {
    linux  /boot/vmlinuz quiet
    initrd /boot/initramfs.img
}

menuentry "Ramlix - Verbose Boot" {
    linux  /boot/vmlinuz
    initrd /boot/initramfs.img
}

menuentry "Ramlix - Safe Mode" {
    linux  /boot/vmlinuz nomodeset
    initrd /boot/initramfs.img
}
